h1 {
  display: inline-block;
  text-align: center;
  margin: 1rem auto;
}
#small {
  display: inline-block;
  margin: 1rem auto;
}
img {
  display: block;
  width: 100%;
  margin: 1rem auto;
}
h4 {
  display: inline-block;
  margin: 1rem auto;
}
#blog {
  display: block;
  margin: 2rem auto;
}

.text-center {
  text-align: center;
}
